@* @page "/employee"
@using BlazorCosmosDemoApp3.Models
@using BlazorCosmosDemoApp3.Services

@inject EmployeeService employeeService
<div class="card p-4">
    <h4 class="card-title">Add Employee</h4>
    <hr />
    <h3>Employee Form</h3>
    <EditForm Model="@employee" OnValidSubmit="@HandleValidSubmit" FormName="employeeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Name:</label>
            <InputText @bind-Value="employee.Name" class="form-control" />
        </div>
        <div>
            <label>Department:</label>
            <InputText @bind-Value="employee.Department" class="form-control" />
        </div>
        <div>
            <label>Email:</label>
            <InputText @bind-Value="employee.Email" class="form-control" />
        </div>
        <div>
            <label>Salary:</label>
            <InputNumber @bind-Value="employee.Salary" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

</div>



@if (submitted)
{
    <div class="alert alert-success mt-3">
        <h4>Employee Submitted:</h4>
        <p><strong>Name:</strong> @employee.Name</p>
        <p><strong>Department:</strong> @employee.Department</p>
        <p><strong>Email:</strong> @employee.Email</p>
        <p><strong>Salary:</strong> @employee.Salary</p>
    </div>
}

<div class="mt-4">
    <FetchData employees="@employees" />
</div>

 *@
