@inject EmployeeService employeeService

<h3>Employees</h3>

<RadzenButton Text="Reset" Click="@Reset" Style="margin-bottom: 20px;" />
<RadzenDataGrid @ref="grid"
                TItem="EmployeeModel"
                IsLoading="@isLoading"
                Count="@count"
                Data="@employees"
                LoadData="@LoadData"
                AllowSorting="true"
                AllowFiltering="true"
                AllowPaging="true"
                PageSize="5"
                PagerHorizontalAlign="HorizontalAlign.Center"
                ColumnWidth="200px">
    <Columns>
        <RadzenDataGridColumn TItem="EmployeeModel" Property="Id" Title="ID" Width="80px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="EmployeeModel" Property="Name" Title="Name" Width="160px" />
        <RadzenDataGridColumn TItem="EmployeeModel" Property="Department" Title="Department" Width="160px" />
        <RadzenDataGridColumn TItem="EmployeeModel" Property="Email" Title="Email" Width="200px" />
        <RadzenDataGridColumn TItem="EmployeeModel" Property="Salary" Title="Salary" Width="120px" />
    </Columns>
</RadzenDataGrid>

